.interview-text {
    color:gray;
    margin-top:20px;
    
}
.card {
    position: absolute;
    width: 100%;
  height: 100%;
  z-index : 2;
  border : 0px solid white;
}
.card:hover {
    border : 5px solid rgb(193, 193, 193);
    transition: all 0.5s;
}
.speech-bubble {
    width:200px; margin-top:-40px
}

.speech-bubble:hover {
    width:250px;
    margin-top:-70px;
    transition: all 0.5s;

}