@font-face {
    font-family: kopub-b;
    src: url(font/KoPubWorldDotumBold.ttf);
}
@font-face {
    font-family: kopub-m;
    src: url(font/KoPubWorldDotumMedium.ttf);
}
@font-face {
    font-family: kopub-l;
    src: url(font/KoPubDotumLight.ttf);
}


body {
    margin:0;
}

div {
    box-sizing :border-box;
}

p {
    font-family:kopub-m;
    font-size:16px;
    letter-spacing: 0.1px;
}

h1 {
    font-size :25px;
}

h2 {
    font-size : 13px;
    font-family: kopub-m;
    color: rgb(29, 29, 29);
}
h3 {
    font-size : 15px;
    font-family:kopub-b;
}

h4 {
    font-size: 13px;
    color:#6fbaf8;
    margin-top:10px;
    font-family: kopub-l;
    margin-top:12px;
}
button {
    width:100px;
    background-color:#6fbaf8;
    color:white;
   }
button:hover {
    width:99px;
    background-color: #add7f9;
}

.bg {
    width:100%;
    height:100%;
    background-color: #f7f9fc;
}
.container {
    padding :60px;
   display:flex;
   flex-direction: column;
   align-items: center;

}

.profile-top-box {
    width:80vw;
    height:270px;
    background-color: white;
    padding:40px;
    border-radius: 10px;
}

.profile-img {
    width:60%;
    height:100%;
    background-color:rgb(255, 255, 255);
    padding:30px;
    padding-top:0px;
    float:left;
}
.profile-img img {
    width:190px;
}

.location-icon {
    float:left;
    margin-right:5px;
    font-size: 20px;
    color:#6fbaf8
}
.profile-info {
    width:40%;
    height:100%;
    background-color:rgb(255, 255, 255);
    float:left;
    padding-left:90px;
    padding-top:30px;
    border-left:1.5px solid rgb(219, 219, 219);
}
.row .col-5 {
    height:35px;
    
}
.line-box {
    width:80vw;
    height:45px;
    margin-top: 50px;
    text-align: center;
    color:#6fbaf8;
    font-size: 18px;
    margin-bottom:25px;
    
}

.profile-bottom-box {
    width:80vw;
    
}
.white-box {
    background-color: white;
    padding:40px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px rgb(214, 214, 214);

}
.pill {
    display:inline-block;
    padding:5px 15px 5px 15px;
    border:1.5px solid lightgray;
    border-radius: 30px;
    margin-right:3px;
    margin-bottom:130px;


}
.fab {
    font-size: 70px;
    color:#6fbaf8;
    margin-bottom:15px;
}


@media screen and (max-width :992px) {
    h1 {
        font-size :20px;
    }
    h2 {
        font-size : 12px;
    }
    h3 {
        font-size : 13px;
    }
    p {
        font-size:15px;
    }
    button {
        width:80px;
    }
    button:hover {
        width:79px;
    }

    .profile-top-box {
        width:90vw;
        height:400px;
        padding:20px;
        padding-top:40px;
    }
    .profile-img{
        width:100%;
        height:50%;
        padding:0px;
    }
    .profile-img img {
        width:140px;
    }
    .profile-info {
        width:100%;
        height:50%;
        padding-left:20px;
        border:none;
        margin-top:-30px;
    }
    .profile-info h3 {
        font-size: 15px;
    }
    .profile-info h2 {
        font-size: 13px;
    }
    .white-box {
        margin-bottom:20px;
    }
    .pill {
        margin-bottom:10px;
        font-size:13px;
    }
    .profile-bottom-box {
        width:90vw;
        
    }

}